@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    }

    :root{
        --lime: #00FF00;
        --gray1: #a39797;
        --DarkMagenta: #8B008B;
        --Red: #FF0000;
        --navajo: #FFDEAD;
        --burly: #DEB887;
        --white: #FFFFFF;
        --cornsilk: #FFF8DC;
        --wheat: #F5DEB3;
        --blanched: #FFEBCD;
        --crimson: #DC143C;
        --bisque: #FFE4C4;
        --black: #000000;
        --chocolate: #D2691E;
        --sienna: #A0522D;
        --saddlebrown: #8B4513;
        --darkred: #8B0000;
        --steelblue: #4682B4;
        --dimgray: #696969;
        --lightslategray: #778899;
    }
    /*links gerais*/
     a {
        margin: 10px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        }

        /*lista separada do header*/

   .titulo2 {
background-color: var(--steelblue);
text-align: center;
font-family: "Raleway", cursive;
color: var(--black);
border-radius: 10px;
margin: 25px;
padding: 5px;
font-family: "Sedan", cursive;
}

.link-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;;
    list-style: none;
    cursor: pointer;
}

/*titulo principal*/

.titulo-principal {
text-align: center;
font-size: 50px;
font-family: "Sedan", cursive;
margin: 10px;
cursor: pointer;
}

.titulo-principal:hover {
    color: var(--crimson);
}

/*
.topo-do-site {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    background-image: url(funto-site.png);
    background-size: 100%;
}
*/

.topo-do-site img {
    width: 200px;
    max-height: auto;
}

/*PRINCIPAL*/

/*
.corpo {
    background-color: var(--cornsilk);
    background-image: url(funto-amadeirado.jpg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
}
*/

/*index*/
.sugestao-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr ));
    margin: 10px;
}

/*index*/
.sugestao-container img {
    width: 310px;
    margin-left: 35px;
    border-radius: 20px;
    border: outset var(--bisque) 10px;
}

/*
.titulo3 {
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    border-radius: 10px;
    margin: 25px;
    padding: 5px;
    font-family: "Sedan", cursive;
    border: outset var(--black) 3px;
    }
    */


/*
.menu-container {
display: flex;
flex-direction: column;
background-image: url(amarelo.jpg);
background-size: 200%;
}
*/

/*geral*/
.link-header img {
    width: 60px;
}

/*
.menu-container img {
    width: 510px;
    margin-left: 35px;
    border-radius: 20px;
    border: outset var(--navajo) 10px;
}
*/

/*titulo | Drink */
.titulodrink {
    text-align: center;
    margin: 25px;
    padding: 5px;
    font-family: "Sedan", cursive;
    color: var(--black);
    font-size: 60px;
}

/*geral*/
.rodape {
    background-color: #00FF00;
    font-family: "sedan" , cursive;
    font-size: 30px;
    border: outset crimson 15px;
}

/*
.input {
    height: 40px;
    width: 100px;
 border-radius: 10px;
}
*/

/*
.botao {
height: 40px;
width: 100px;
border-radius: 10px;
margin: 5px;
}
*/

/*div | drinks*/
.div-container {
display: flex;
}

/*descrição | drinks*/
.descricao-menu {
margin: 150px;
font-family: "sedan" , cursive;
font-size: 40px; 
}

/*botao | drinks*/
.button-input {
   margin-left: 180px;
}

/*
.ingredientes {
font-size: 25px;
text-align: center;

}
*/

.input-botao {
    text-align: center;
}

input {
    height: 50px; /*alterado*/
    width: 100px;
 border-radius: 10px;
 text-align: center; /*adicionado*/
 font-size: 20px; /*adicionado*/
 font-family: "Overpass", cursive;

}

button {
    height: 50px; /*alterado*/
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer; /*adicionado*/
    font-size: 20px; /*adicionado*/
    font-family: "Overpass", cursive;

}

/*COMANDOS ALTERADOS*/

span {  /*adicionado*/
margin-right: 10px;
font-size: 25px;
font-family: "Sedan", cursive;
}

.input {
    height: 50px; /*alterado*/
    width: 100px;
 border-radius: 10px;
 text-align: center; /*adicionado*/
 font-size: 20px; /*adicionado*/
 font-family: "Overpass", cursive;
}

.botao {
height: 50px; /*alterado*/
width: 100px;
border-radius: 10px;
margin: 5px;
cursor: pointer; /*adicionado*/
font-size: 20px; /*adicionado*/
font-family: "Overpass", cursive;
}

.botao:hover { /*adicionado*/
background-color: var(--chocolate); /*adicionado*/
}

.button-input {
margin-right: 760px; /*alterado*/
 }

 .titulo3-drink {
    text-align: center;
    color: var(--black); /*alterado*/
    margin: 25px;
    padding: 5px;
    font-family: "Sedan", cursive;
    border-bottom: solid 2px; /*alterado*/
    font-size: 0px;
    }
    
    .alcool { /*adicionado*/
text-align: center;
margin: 80px;
font-size: 40px;
color: var(--dimgray);
    }

.menu-container {
    display: flex;
     flex-direction: column;
     background-image: url(); /*alterado*/
     background-size: 800%; /*alterado*/
     background-repeat: no-repeat;
     align-items: center; /*adicionado*/
     }


     .corpo {
        background-color: var(--cornsilk);
        background-image: url(silver-gradient-with-highlights-vector-26457044.webp); /*alterado*/
        background-size: 100% 120%;
        background-repeat: no-repeat;
    }

    .menu-container img {
        width: 510px;
        margin-left: 35px;
        border-radius: 20px;
        border: outset var(--crimson) 5px; /*alterado*/
    }

.links-lista { /*adicionado*/ /*classe strong lista*/
margin-left: 14px;
}

.links-lista:hover { /*adicionado*/
color: var(--chocolate);
}

.hr { /*adicionado*/
margin: 40px;
height: 9px;
background-color: var(--black);
width: 98%; /*adicionado*/
border-radius: 20px;
border: outset 2px var(--crimson);
}

.ingredientes {
    font-size: 25px;
margin-left: 550px; /*adicionado*/
    }


    .topo-do-site {
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
        background-image: url(funto-site.png);
        background-size: 100% 220%;
        background-position: center;
        background-repeat: no-repeat;
    }
    


    /*media*/
@media (max-width: 1366px) {

.ingredientes { /*alterar futuramente em outra resolução*/
    font-size: 25px;
    margin-left: 360px;
    }

}