@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --lime: #00FF00;
    --gray1: #a39797;
    --DarkMagenta: #8B008B;
    --Red: #FF0000;
    --navajo: #FFDEAD;
    --burly: #DEB887;
    --white: #FFFFFF;
    --cornsilk: #FFF8DC;
    --wheat: #F5DEB3;
    --blanched: #FFEBCD;
    --crimson: #DC143C;
    --bisque: #FFE4C4;
    --black: #000000;
    --chocolate: #D2691E;
    --sienna: #A0522D;
    --saddlebrown: #8B4513;
    --darkred: #8B0000;
    --steelblue: #4682B4;
    --dimgray: #696969;
    --lightslategray: #778899;
    --silver: #C0C0C0;
    --gray: #808080;
    --Dimgray: #696969;
    --gold: #FFD700;
    }

/*MEDIA DE RESOLUÇÃO PRINCIPAL DO SITE LARICCA*/
@media (max-width: 1920px){
    /*GERAL*/
    .link-header { /*caixa dos icones e links no header*/
        display: flex;
        justify-content: space-between;
        font-size: 19px;;
        list-style: none;
        cursor: pointer;
        color: var(--burly);
        justify-content: center;
        margin-bottom: 20px;
        gap: 100px;
}
a { /*links*/  
    text-decoration: none;
    color: black;
    margin: 8px;
    font-size: 20px;
    text-transform: uppercase;
}
.link-header img {/*imagens do link header*/
    width: 60px;
}
.lista img { /*imagens da lista no link header*/
    border: outset var(--black) 3px;
    margin: 15px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--white);
}
.topo-do-site{ /*header*/
    display: flex;
    background-image: url(fundo-site-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
   background-color: var(--silver);
    height: 350px;
    justify-content: center;
}
.topo-do-site img { /*banner do header*/
margin: -60px;
max-width: 350px;
height: 400px;
}
.corpo { /*principal*/
    background-color: var(--cornsilk);
    background-size: 100% 120%;
    background-repeat: no-repeat;
}
span { /*preços*/
    margin-right: 10px;
    font-size: 25px;
    font-family: "DM Serif Display", cursive;
    margin: auto;
}
.stronger-pratos{/*nome dos pratos no link header*/
    margin-left: 24px;
}
.stronger-home{/*nome da home no link header*/
margin-left: 27px;
}
.stronger-bebida{/*nome das bebidas no link header*/
margin-left: 18px;
}
.stronger-sobremesa{/*nome das sobremesas no link header*/
    margin-left: 3px;
    margin-left: 5px;
}
.stronger-petisco{/*nome dos petiscos no link header*/
margin-left: 18px;
}
.stronger-carrinho{/*nome do carrinho no link header*/
margin-left: 15px;
}
.stronger-contato{/*nome do contato no link header*/
margin-left: 20px;
}
.stronger-quem{/*nome do sobre no link header*/
margin-left: 4px;
}
.stronger-teste{
margin-left: 30px;
}
.hr1 { /*linha do rodape*/
    width: 50%;
    margin: auto;
}

    /*INDEX*/
.titulo-principal { /*titulo do index*/
    text-align: center;
    font-size: 50px;
    font-family: "Sedan", cursive;
    margin: 10px;
}
hr { /*espaço entre as divs dos menus (sem classe)*/
    border-bottom: solid 2px var(--black);
}
button { /*botões do index*/
    height: 50px; 
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer; 
    font-size: 20px; 
    font-family: "DM Serif Display", cursive;
    margin-left: 50px;
}
.title{
    font-family: "DM Serif Display",cursive;
    text-align: center;
}
.text{
    font-family: "DM Serif Display",cursive;
    text-align: center;
}
.titulo2 { /*titulo secundário do index*/
    text-align: center;
    border-radius: 10px;
    margin: 25px;
    padding: 5px;
    font-family: "DM Serif Display", cursive;
    font-size: 50px;
}
.titulo3 { /*nomes das sugestões no index*/
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    border-radius: 10px;
    margin: 25px;
    font-family: "DM Serif Display", cursive;
    border: outset var(--black) 3px;
} 
.input-botao { /*botões do index*/
margin-left: 90px;
}
.sugestao-container { /*sessão | index*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr ));
    margin: 10px;
}
.sugestao-container img { /*imagem | sessão | index*/
    width: 310px;
    margin-left: 35px;
    border-radius: 20px;
    border: outset var(--gold) 5px;
}
input { /*caixas de texto do index*/
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin: auto;
}

/*HOVER*/
.menu-container img:hover { /*localizado nos menus*/ /*gira as imagens*/
    transition: all;
    transform: scale(1.1);
    }
    .botao:hover {
        cursor: pointer;
     background-color: var(--gold);
    }
    .lista img:hover { /*animação das imagens nos links*/
        transition: all;
        transform: scale(1.2);
        background-color: var(--gold);
    }  
    .links-lista:hover {
    color: var(--chocolate);
    }

/*MENUS*/
.alcool { /*sessões de drinks | menus*/
    text-align: center;
    font-size: 40px;
    color: var(--dimgray);
    margin: 40px;
}
.menu-container { /*Sessão | menus*/
    display: flex;
    flex-direction: column;
}
.menu-container img { /*imagem | sessão | menus*/
    width: 510px;
    margin-left: 35px;
    border-radius: 20px;
    border: outset var(--gold) 10px;
}
.hr { /*espaços entre as divs dos menus*/
    margin: 40px;
    background-color: var(--gold);
    width: 100%; 
    margin-left: 0px;
    border: outset 2px var(--gold);
}
.titulodrink { /*Usado no menu de drinks*/
    text-align: center;
    margin: 25px;
    padding: 5px;
    font-family: "DM Serif Display", cursive;
    color: var(--black);
    font-size: 60px;
}
.input {/*caixas de texto dos menus*/
    height: 50px; 
    width: 100px;
    border-radius: 10px;
    text-align: center; 
    font-size: 40px;
    margin-right: 5px;
}
.botao {/*botões dos menus*/
    height: 50px; 
    width: 100px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer; 
    font-size: 20px; 
    font-family: "DM Serif Display", cursive;
    margin-left: 0px;
}
.div-container { /*div das imagens dos menus*/
    display: flex;
    flex-direction: initial;
}
.div-container img { /*usado para tirar a margin-left das imagens do menu*/
    margin-left: 30px;
}
.descricao-menu { /*descrição dos pratos dos menus*/
    font-family: "DM Serif Display" , cursive;
    font-size: 40px; 
    /*margin: 150px; ----> /*em observação
    margin-right: 20px;*/
    margin: auto;
} 
.ingredientes{ /*parágrafo dos menus*/
    font-size: 25px;
    padding: 1px;
    margin: auto;
    margin-bottom: 20px;
font-family: "DM Serif Display", cursive;
}

/*SOBRE*/
.titulo-sobre { /*Título sobre*/
    height: 100px;  
    display: grid; 
    background-color: white;
    color:black; 
    text-align: center;
    
   }
   .titulo-sobre1 { /*bíblia do sobre*/
       background-color: white;
       color: black;
       text-align: center;
       height: 100px;
   
   }
   .titulo-sobre2 {/*bíblia do sobre*/
       background-color: white;
       color: black;
       text-align: center;
       height: 100px;
   
   }
   .titulo-sobre3 {/*bíblia do sobre*/
       text-align: center;
       color: black;}
   

 /*USER*/
 .contact { /*caixa de contato*/
    background-color: var(--burly);
    padding: 30px; 
    max-width: 600px;
    margin-right: auto; 
    margin-left: auto; 
    margin-bottom: 20px;  
    border-radius: 10px;
}

.contact-label { /*caixas das caixas de texto*/
    display: block; 
    margin-bottom: 20px; 
    color: var(--black);
    font-family: "DM Serif Display",cursive;

}

.button-label {
   margin-left: auto;
   margin-right: auto;
}

.contact-field {/*caixa de texto*/
    display: block; 
    width: 100%;
    height: 30px;  
    font-size: 16px;  
    padding-left: 10px; 
    border: none; 
}

/*carrinho teste*/
.carrinho-container {
    text-align: center;
    background-color: var(--black);
    color: var(--darkred);
}

/*RODAPÉ*/
.rodape { /*rodape geral*/
    background-color: var(--dimgray);
    font-family: "DM Serif Display" , cursive;
    font-size: 25px;
    color: var(--white);
    justify-content: space-between;
    text-align: center;
    background-image: url(fund-site-oficial.png);
    background-size: 100% 100%;
}

.div-rodape {
    display: block flex;
    max-width: 100%;
    gap: 20px;
}
.rodape-lista {
    background-color: var(--gold);
    
}
.rodape-lista2 {
    background-color: var(--darkred);
}
.rodape-lista4 {
        background-color: var(--DarkMagenta);
}   
.paragrafo-lista {
    display: flex;
    
}

.rodape-cartao {
    display: flex;
   gap: 10px;
   align-items: center;
}
.titulo3-rodape { /*titulo do rodapé*/
    text-align: center;
    color: var(--white);
    margin: 25px;
    font-family: "DM Serif Display", cursive;
    color: var(--black);
}

p { /*parágrafos*/
    color: var(--black);
}

/*MEDIA 320px*/
@media (max-width: 320px){
.link-header {
display: block;
}
.sugestao-container img {
    margin: 0px;
}.sugestao-container {
    margin: auto;
}
.titulo3 {
margin-left: 15px;
font-size: 20px;
}
.input-botao{
    margin-left: 0px;
}
.topo-do-site img {
    margin: 0px;
    max-width: 200px;
    height: 300px;
    
}
}
}

/*MEDIA 1366px*/
@media (max-width: 1366px){
.sugestao-container img{
    margin-left: 10px;
}
.input-botao{
margin-left: 67px;
margin-bottom: 10px;
}
.link-header{
gap: 0px;
}
.ingredientes{
margin: 0px;
margin-left: 550px;
}
.div-container img{
margin-left: 5px;
}
}

/*