@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    }

    :root{
        --lime: #00FF00;
        --gray1: #a39797;
        --DarkMagenta: #8B008B;
        --Red: #FF0000;
        --navajo: #FFDEAD;
        --burly: #DEB887;
        --white: #FFFFFF;
        --cornsilk: #FFF8DC;
        --wheat: #F5DEB3;
        --blanched: #FFEBCD;
        --crimson: #DC143C;
        --bisque: #FFE4C4;
        --black: #000000;
        --chocolate: #D2691E;
        --sienna: #A0522D;
        --saddlebrown: #8B4513;
        --darkred: #8B0000;
        --steelblue: #4682B4;
        --dimgray: #696969;
        --lightslategray: #778899;
        --silver: #C0C0C0;
        --gray: #808080;
        --Dimgray: #696969;
    }
  
/*GERAL*/
     a { /*links*/
        
        text-decoration: none;
        color: black;
        margin: 8px;
        font-size: 20px;
        text-transform: uppercase;}

        .link-header img {/*imagens do link header*/
    width: 60px;}

    .lista img { /*imagens da lista no link header*/
        border: outset var(--black) 3px;
        margin: 15px;
        border-radius: 10px;
        padding: 5px;
    background-color: var(--white);}
    
.topo-do-site{ /*header*/
    display: flex;
    background-image: url(vintage.jpg);
    background-size: 100% 250%;
    background-repeat: no-repeat;
   background-color: var(--silver);
height: 350px;}

.header-geral /*header fixado*/ {
        position: sticky;
        z-index: 15;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;}

.topo-do-site img { /*banner do header*/
margin: -50px 1250px;
max-width: 400px;
height: 450px;
}

.corpo { /*principal*/
    background-color: var(--cornsilk);
    background-image: url(silver.webp);
    background-size: 100% 120%;
    background-repeat: no-repeat;}

.link-header { /*links | header*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;;
    list-style: none;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}

span { /*preços*/
    margin-right: 10px;
    font-size: 25px;
    font-family: "Sedan", cursive;
    margin: auto;}

    .links-lista { /*centralizador dos nomes da lista*/
    margin-left: px;}
.stronger-pratos{/*nome dos pratos no link header*/
    margin-left: 24px;}
.stronger-home{/*nome da home no link header*/
margin-left: 27px;}
.stronger-bebida{/*nome das bebidas no link header*/
margin-left: 18px;}
.stronger-sobremesa{/*nome das sobremesas no link header*/
    margin-left: 5px;}
.stronger-petisco{/*nome dos petiscos no link header*/
margin-left: 18px;}

    .rodape { /*rodape geral*/
    background-color: var(--dimgray);
    font-family: "sedan" , cursive;
    font-size: 30px;
    color: var(--white);
    justify-content: space-between;
    text-align: center;}

.hr1 { /*linha do rodape*/
    width: 50%;
    margin: auto;
}

/*INDEX*/
.titulo-principal { /*titulo do index*/
    text-align: center;
    font-size: 50px;
    font-family: "Sedan", cursive;
    margin: 10px;
    }

button { /*botões do index*/
        height: 50px; 
        width: 100px;
        border-radius: 10px;
        margin: 5px;
        cursor: pointer; 
        font-size: 20px; 
        font-family: "Overpass", cursive;
    margin-left: 50px;}

 .titulo2 { /*titulo secundário do index*/
background-color: var(--black);
text-align: center;
font-family: "Raleway", cursive;
color: var(--silver);
border-radius: 10px;
margin: 25px;
padding: 5px;
font-family: "Sedan", cursive;
border: outset var(--crimson) 5px;}

.titulo3 { /*nomes das sugestões no index*/
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    border-radius: 10px;
    margin: 25px;
    font-family: "Sedan", cursive;
    border: outset var(--black) 3px;}
    
.input-botao { /*botões do index*/
margin-left: 90px;}


.sugestao-container { /*sessão | index*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr ));
    margin: 10px;}

.sugestao-container img { /*imagem | sessão | index*/
    width: 310px;
    margin-left: 35px;
    border-radius: 20px;
    border: outset var(--black) 5px;}

    input { /*caixas de texto do index*/
        height: 30px;
text-align: center;
           font-size: 15px;
           margin: auto;}

/*HOVER*/

    button:hover { /*localizado no index*/ /*muda a cor de fundo dos botões*/
        background-color: var(--dimgray);}

.menu-container img:hover { /*localizado nos menus*/ /*gira as imagens*/
transition: all 0.5s;
   transform: scale(1.1);}

    .botao:hover {
        cursor: pointer;
        transition: all 0.5s;
        transform: scale(1.3);
    }

    .lista img:hover { /*animação das imagens nos links*/
        transition: all;
        transform: scale(1.2);
background-color: var(--chocolate);}
    

/*MENUS*/
.alcool { /*sessões de drinks | menus*/
    text-align: center;
    font-size: 40px;
    color: var(--dimgray);
    margin: 40px;}
        
.menu-container { /*Sessão | menus*/
    display: flex;
     flex-direction: column;}
 
.menu-container img { /*imagem | sessão | menus*/
    width: 510px;
    margin-left: 35px;
    border-radius: 20px;
    border: outset var(--black) 10px;}

.hr { /*espaços entre as divs dos menus*/
    margin: 40px;
    height: 9px;
    background-color: var(--black);
    width: 100%; 
    border-radius: 20px;
    border: outset 2px var(--crimson);
margin-left: 0px;}

    hr { /*espaço entre as divs dos menus (sem classe)*/
    border-bottom: solid 4px var(--black);}

.titulodrink { /*Usado no menu de drinks*/
    text-align: center;
    margin: 25px;
    padding: 5px;
    font-family: "Sedan", cursive;
    color: var(--black);
    font-size: 60px;}

.input {/*caixas de texto dos menus*/
    height: 50px; 
    width: 100px;
 border-radius: 10px;
 text-align: center; 
 font-size: 40px;
margin-right: 5px;}

.botao { /*botões dos menus*/
    height: 50px; 
    width: 100px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer; 
    font-size: 20px; 
    font-family: "Sedan", cursive;
margin-left: 0px;}

.div-container { /*div das imagens dos menus*/
display: flex;
flex-direction: initial;}

    .div-container img { /*usado para tirar a margin-left das imagens do menu*/
        margin-left: 30px;}
    

.descricao-menu { /*descrição dos pratos dos menus*/
font-family: "sedan" , cursive;
font-size: 40px; 
/*margin: 150px; ----> /*em observação
margin-right: 20px;*/
margin: auto;}

/*
.button-input { 
margin-right: 600px;} */ /*---> COMENTADO NO HTML*/ /*inutilizado*/
     
.ingredientes{ /*parágrafo dos menus*/
font-size: 25px;
padding: 1px;
margin: auto;
margin-bottom: 20px;}


/*SOBRE*/
.titulo-sobre { /*Título sobre*/
 height: 100px;  
 display: grid; 
 background-color: white;
 color:#8B0000; 
 text-align: center;
 
}
.titulo-sobre1 {
    background-color: white;
    color: #8B0000;
    text-align: center;
    height: 100px;

}
.titulo-sobre2 {
    background-color: white;
    color: #8B0000;
    text-align: center;
    height: 100px;

}
.titulo-sobre3 {
    text-align: center;
    
    color: #8B0000;
    
}
 /*USER*/
 .contact {
    background-color: var(--Dimgray);
    padding: 30px; 
    max-width: 600px;
    margin-right: auto; 
    margin-left: auto; 
    margin-bottom: 20px; 
 }
 .contact-label {
    display: block; 
    margin-bottom: 20px; 
    color: var(--black); 
 }
 
 /*carrinho teste*/

 .carrinho-container {
    text-align: center;
    background-color: var(--black);
    color: var(--darkred);
 }